<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transcendence.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_deer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_deer"
        android:supportsRtl="true"
        android:theme="@style/NoTitleAppTheme">
        <activity android:name=".base.activity.AnimationSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".base.activity.AnimationMainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!--0 index -->
        <activity android:name=".index.SimpleIndexActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- 1 index-->
        <activity android:name=".index.ComplexIndexActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- 6 index -->
        <activity android:name=".index.HighCopyIndexActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- 6.1 -->
        <activity android:name=".ui.highcopy.DrawTicketActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />

    </application>

</manifest>