<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transcendence.douya">

    <application
        android:name=".DouyaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_douya"
        android:label="@string/app_douya_name"
        android:roundIcon="@mipmap/ic_douya_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitleAppTheme">
        <activity
            android:name=".DouyaMainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>