<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transcendence.greenstar">

    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <!--安装权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.REQUEST_INSTALL_PACKAGES.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <!-- //录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 生物识别 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!--bluetooth start 基本蓝牙开启-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--6.0蓝牙搜索需要定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--bluetooth end 基本蓝牙开启-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_green_star"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_green_star"
        android:supportsRtl="true"
        android:theme="@style/Theme.Freeland">
        <activity
            android:name=".main.GreenStarMainActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".main.index.DemoIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".main.index.PopupIndexKt"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />



        <!-- 幸运转盘 -->
        <activity
            android:name=".demo.luckypanel.LuckyPanelAc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />




        <activity
            android:name=".demo.record.act.RecordMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".demo.record.example.RecordExampleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".demo.dbnote.act.DBNoteActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".demo.biometric.BiometricActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".demo.exportlog.logcat.LogcatKt"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".demo.showPermissions.ShowPermissionAc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>



        <activity
            android:name=".demo.encryption.act.EncryptionMainAc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".demo.encryption.act.EncryptionAc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".demo.load.LoadAcKt"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".demo.splash.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>



        <activity
            android:name=".demo.pdf.act.FileDisplayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".demo.tabvprv.act.TabVpRvActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".demo.overscroller.act.OverScrollerDemoActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>