<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transcendence.core">

    <application>

        <activity android:name=".image.BigImageKt" />

        <activity android:name=".ui.webview.MLWebviewActivity" />

    </application>
</manifest>