<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transcendence.blackhole">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--  <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 弹出层 -->
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 加权限禁止Home键 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>


    <application
        android:name=".base.app.AppAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_deer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_swan"
        android:supportsRtl="true"
        android:theme="@style/NoTitleAppTheme">
        <activity
            android:name=".index.AppIndexActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".base.LauncherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.WeChatMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.widget.custom.StandardLayoutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.guide.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 画板 -->
        <activity
            android:name=".ui.paint.PaintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 自动删除输入框 -->
        <activity
            android:name=".ui.widget.edittext.AutoClearEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 渐变 -->
        <activity
            android:name=".ui.widget.button.JianbianButtonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 蓝色风格 -->
        <activity
            android:name=".ui.widget.button.WaterButtonBlueActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!-- 自动滑动展示页 -->
        <activity
            android:name=".ui.widget.custom.AutoScrollActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.widget.scroll.ScrollLayoutTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.toast.ToastActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />



        <activity
            android:name=".ui.hardware.act.IsTwoSdCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

            <!-- apk bus top frame -->
        <activity
            android:name=".ui.base.act.TelephoneInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- Mvp 测试 -->
        <activity
            android:name=".ui.gallery.act.JGalleryMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />




        <!-- 序列一   开发基础 序列 -->
        <activity
            android:name=".index.BaseIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
            <!-- 开发基础 之生命周期 -->
        <activity
            android:name=".ui.base.act.LifeCycleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
            <!-- 开发基础 之生命周期 -->
        <activity
            android:name=".ui.base.act.LifeCycleTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.LaunchModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.ScreenKeyDownActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.LockerHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.FirstEventActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.RetrofitIntroActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />




        <!-- 序列二   图片 序列 -->
        <activity
            android:name=".index.ImageIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.image.act.WxImagePickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.image.act.ImageLoadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
                <!-- 单图预览 -->
        <activity
            android:name=".ui.image.act.PictruePreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />




        <!-- 序列3   抽奖 序列 -->
        <activity
            android:name=".index.LotteryIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
                <!-- 抽奖一 -->
        <activity
            android:name=".ui.lottery.act.LotteryOneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
                <!-- 抽奖二 -->
        <activity
            android:name=".ui.lottery.act.LotteryTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
                <!-- 抽奖三 -->
        <activity
            android:name=".ui.lottery.act.LotteryThreeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 序列4  跑马灯 序列 -->
        <activity
            android:name=".index.MarqueeIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
            <!-- 跑马灯一 -->
        <activity
            android:name=".ui.widget.marquee.MarqueeTextOneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
            <!-- 跑马灯二 -->
        <activity
            android:name=".ui.widget.marquee.MarqueeTextTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />



        <!-- 序列   录音 序列 -->
        <activity
            android:name=".index.VoiceIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.voice.act.RecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.voice.act.RecordActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <!-- 序列   其他 课程表 -->
        <activity
            android:name=".index.OtherIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
            <!-- 课程表 -->
        <activity
            android:name=".ui.other.act.TableScheActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
            <!-- 瀑布流 -->
        <activity
            android:name=".ui.other.photowaterfall.act.WaterFallOneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
            <!-- 解决软键盘遮挡输入框 -->
        <activity
            android:name=".ui.other.act.OverKeyBoardActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>


        <!-- 序列   基础  handler -->
        <activity
            android:name=".ui.handler.act.HandlerMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
            <!-- 定时切换背景 -->
        <activity
            android:name=".ui.handler.act.HelloHandler01"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
            <!-- handler sendMessage -->
        <activity
            android:name=".ui.handler.act.HelloHandler02"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!-- Mvp 测试 -->
        <activity
            android:name=".ui.mvp.act.MvpLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


    </application>

</manifest>