<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transcendence.blackhole">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--  <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 弹出层 -->
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 加权限禁止Home键 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>


    <application
        android:name=".core.app.ApbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_ten"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_ten"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/NoTitleAppTheme">
        <activity
            android:name=".core.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".index.IndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".index.AppIndexActivity"
            android:screenOrientation="portrait"
            />

        <!-- 微信导航 -->
        <activity
            android:name=".ui.widget.custom.qq.QqSlidingMenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".demo.weixinnavigation.act.WeixinHomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".core.WeChatMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".core.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.widget.custom.StandardLayoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".demo.guide.GuideActivity"
            android:screenOrientation="portrait" />

            <!-- 序列Random   万能序列 -->
        <activity
            android:name=".index.StandardIndexActivity"
            android:screenOrientation="portrait"/>

            <!-- 渐变 -->
        <activity
            android:name=".ui.widget.button.JianbianButtonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
            <!-- 蓝色风格 -->
        <activity
            android:name=".ui.widget.button.WaterButtonBlueActivity"
            android:screenOrientation="portrait" />

            <!-- SegmentView -->
        <activity
            android:name=".ui.widget.custom.segmentview.IosSegmentViewActivity"
            android:screenOrientation="portrait"/>
            <!-- 自动滑动展示页 -->

        <!-- Lf 做的滑动窗口  -->
        <activity
            android:name=".ui.scroll.ScrollLayoutTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.toast.ToastActivity"
            android:screenOrientation="portrait" />

        <!-- apk bus top frame -->
        <activity
            android:name=".ui.base.act.TelephoneInfoActivity"
            android:screenOrientation="portrait" />




        <!-- 序列一   开发基础 序列 -->
        <activity
            android:name=".index.BaseIndexActivity"
            android:screenOrientation="portrait"/>
            <!-- 开发基础 之生命周期 -->
        <activity
            android:name=".ui.base.act.LifeCycleActivity"
            android:screenOrientation="portrait" />
            <!-- 开发基础 之生命周期 -->
        <activity
            android:name=".ui.base.act.LifeCycleTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.ScreenKeyDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.LockerHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.FirstEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.act.RetrofitIntroActivity"
            android:screenOrientation="portrait" />
            <!-- 监听滑动手势 -->
        <activity android:name=".ui.base.act.TouchEventActivity"
            android:screenOrientation="portrait"/>

        <!-- 序列1.1   启动模式序列 -->
        <activity
            android:name=".index.LaunchModeIndexActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.base.act.LaunchModeInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".base.launchmode.act.SingleTaskFirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".base.launchmode.act.SingleTaskSecondActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity android:name=".base.launchmode.act.SingleTaskThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.gallery.act.JGalleryMainActivity" />

        <!-- 序列二   UI 序列 -->
        <activity
            android:name=".index.UIIndexActivity"
            android:screenOrientation="portrait" />
            <!-- 序列2.1   图片 序列 -->
        <activity
            android:name=".index.UIimageIndexActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.image.act.WxImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.image.act.ImageLoadActivity"
            android:screenOrientation="portrait" />
            <!-- 单图预览 -->
        <activity
            android:name=".ui.image.act.PictruePreviewActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.image.act.HandlerDownLoadActivity"
            android:screenOrientation="portrait"/>
            <!-- 背景循环一 -->
        <activity android:name=".ui.image.act.ImageAutoCycleOneActivity"
            android:screenOrientation="portrait" />
            <!-- 背景循环二 -->
        <activity android:name=".ui.image.act.ImageAutoCycleTwoActivity"
            android:screenOrientation="portrait" />

        <!-- UI  Gallery-->
        <!--<activity-->
            <!--android:name=".ui.gallery.act.JgalleryMainActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait" />-->

            <!-- zGallery-->
        <activity
            android:name=".ui.gallery.act.ZgalleryMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

            <!-- 仿微信QQ 上传头像 -->
        <activity
            android:name=".ui.image.headcliper.act.HeadCliperMainActivity"
            android:screenOrientation="portrait"/>
            <!-- 仿微信QQ 上传头像 裁剪-->
        <activity
            android:name=".ui.image.headcliper.act.HeadCliperActivity"
            android:screenOrientation="portrait"/>

        <!-- 序列2.2 UI Rv -->
        <activity android:name=".index.UIRvIndexActivity"
            android:screenOrientation="portrait"/>
            <!-- mi -->
        <activity
            android:name=".ui.rv.mi.act.XiaoMIAct"
            android:screenOrientation="portrait"/>
            <!-- 上拉刷新 下拉加载更多-->
        <activity android:name=".ui.rv.freshloadmore.act.RvLoadMoreActivity"
            android:screenOrientation="portrait" />

        <!-- 序列2.3 UI Edittext -->
        <activity android:name=".index.UIEditIndexActivity"
            android:screenOrientation="portrait"/>

            <!-- 自动删除输入框 -->
        <activity
            android:name=".ui.widget.edittext.AutoClearEditActivity"
            android:screenOrientation="portrait" />
            <!-- 软键盘挡住输入框问题 -->
        <activity
            android:name=".ui.widget.edittext.SoftKeyboardAdjustActivity"
            android:screenOrientation="portrait"/>


        <!-- 序列3   抽奖 序列 -->
        <activity
            android:name=".index.LotteryIndexActivity"
            android:screenOrientation="portrait"/>
            <!-- 抽奖一 -->
        <activity
            android:name=".demo.lottery.act.LotteryOneActivity"
            android:screenOrientation="portrait" />
            <!-- 抽奖二 -->
        <activity
            android:name=".demo.lottery.act.LotteryTwoActivity"
            android:screenOrientation="portrait" />
            <!-- 抽奖三 -->
        <activity
            android:name=".demo.lottery.act.LotteryThreeActivity"
            android:screenOrientation="portrait" />

        <!-- 序列4  跑马灯 序列 -->
        <activity
            android:name=".index.MarqueeIndexActivity"
            android:screenOrientation="portrait"/>
            <!-- 跑马灯一 -->
        <activity
            android:name=".ui.widget.marquee.MarqueeTextOneActivity"
            android:screenOrientation="portrait" />
            <!-- 跑马灯二 -->
        <activity
            android:name=".ui.widget.marquee.MarqueeTextTwoActivity"
            android:screenOrientation="portrait" />



        <!-- 序列5  mvp 序列 -->
        <activity
            android:name=".index.MvpIndexActivity"
            android:screenOrientation="portrait"/>
             <!-- Mvp 测试Login -->
        <activity
            android:name=".demo.mvp.act.MvpLoginActivity"
            android:screenOrientation="portrait" />
            <!-- Mvp 美女列表 -->
        <activity
            android:name=".demo.mvp.act.MvpBeautyListActivity"
            android:screenOrientation="portrait" />



        <!-- 序列6  滚动序列 -->
        <activity
            android:name=".index.ScrollIndexActivity"
            android:screenOrientation="portrait"/>
            <!-- Mvp 小红书 -->
        <activity
            android:name=".ui.scroll.xiaohuoshu.act.XiaohongshuActivity"
            android:screenOrientation="portrait"/>

            <!--  仿美团滑动layout  -->
        <activity
            android:name=".ui.scroll.meituantop.act.MeiTuanMainActivity"
            android:screenOrientation="portrait"/>
            <!--  PullToZoom  -->
        <activity
            android:name=".ui.scroll.pulltozoom.act.PullToZoomAct"
            android:screenOrientation="portrait" />



        <!-- 序列   录音 序列 -->
        <activity
            android:name=".index.VoiceIndexActivity"
            android:screenOrientation="portrait"/>


        <!-- 序列   其他 课程表 -->
        <activity
            android:name=".index.OtherIndexActivity"
            android:screenOrientation="portrait"/>
            <!-- 解决软键盘遮挡输入框 -->
        <activity
            android:name=".demo.other.act.OverKeyBoardActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
            <!--  贡献图 -->
        <activity
            android:name=".demo.other.act.GitHubContributionActivity"
            android:screenOrientation="portrait"/>
            <!--  所有app -->
        <activity
            android:name=".demo.allapp.AllAppActivity"
            android:screenOrientation="portrait"/>
            <!--  自定义Behavior，并且使用MD实现仿知乎中向上滑菜单底部FloatingActionBar消失，向下滑动菜单底部FloatingActionBar显示上来 -->
        <activity
            android:name=".demo.translationbehavior.act.ZhihuBehaviorActivity"
            android:screenOrientation="portrait"/>
            <!--  打车 -->
        <activity
            android:name=".demo.didi.act.DidiMainActivity"
            android:screenOrientation="portrait"/>
            <!--  雷达 -->
        <activity
            android:name=".demo.scan.act.MengJianNanActivity"
            android:screenOrientation="portrait" />
            <!--  仿小米计算器 -->
        <activity android:name=".demo.calc.act.XiaoMiCalcActivity"
            android:screenOrientation="portrait" />

        <!-- 序列   基础  handler -->
        <activity
            android:name=".demo.handler.act.HandlerMainActivity"
            android:screenOrientation="portrait" />
            <!-- 定时切换背景 -->
        <activity
            android:name=".demo.handler.act.HelloHandler01"
            android:screenOrientation="portrait" />
            <!-- handler sendMessage -->
        <activity
            android:name=".demo.handler.act.HelloHandler02"
            android:screenOrientation="portrait" />

        <!-- 序列8 地图  -->






    </application>

</manifest>